<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Room</title>
    <link rel="stylesheet" href="../add-student2.css">
</head>
<body>
    <div class="container">
        <h1>Apply for Pass</h1>
        <a href="/hm-apply"><button>Apply</button></a>
        <a href="/hm-apprv"><button>Check Status</button></a>
        <a href="/hm-cancel"><button>Cancel Pass</button></a>
        <div id="error">
            <p><%= error %></p>
        </div>
        <div id="msg">
            <p><%= msg %></p>
        </div>
        <a href="/h-dashboard"><button>Go Back</button></a>
    </div>
</body>
</html>