<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warden Dashboard</title>
  <link rel="stylesheet" href="hosteller-dashboard.css">
</head>

<body>
  <header>
    <h1>Welcome to Student Dashboard</h1>
  </header>
  <div class="image-container">
    <img src="./images/img2.jpg" alt="Image Description">
  </div>

  <div class="button-container">
    <p>Choose your function</p>
    <a href="/change-room"><button id="chng-room-btn">Change room</button></a>
    <a href="/hm-pass"><button id="home-pass-btn">Home Pass</button></a>
    <a href="/hs-chk-det"><button id="check-details-btn">Check Details</button></a>
    <a href="/hs-logout"><button id="logout-btn">Logout</button></a>
  </div>
  <footer>
    <div>This is reserved by ABC College</div>
  </footer>


</body>

</html>