<!DOCTYPE html>
<html>
<head>
  <title>Hostel Management System</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="image-container">
    <img src="./images/piet_logo.png" alt="Image Description">
</div>
<div class="container">

  <h1>Welcome to Hostel Management</h1>
  <h2>Please select your login type:<h2>
    
    <a href="/hs_lgn"><button id="hs_lgn_rdr">Login as Hosteller</button></a>
    <a href="/wr_lgn"><button id="wr_lgn_rdr">Login as Warden</button></a>
  </div>

</body>
</html>
