<!-- student-details.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Student Details</title>
  <link rel="stylesheet" href="../student-details.css">
</head>
<body>
  <div class="container">
    <h1>Student Details</h1>
    <p>Name: <%= student.name %></p>
    <p>Roll Number: <%= student.roll_no %></p>
    <p>Branch: <%= student.branch %></p>
    <p>Room No.: <%= student.room_no %></p>
    <a href="/w-dashboard"><button>Go Back</button></a>
  </div>
</body>
</html>
